# Módulo 4: Transformações e Information Retrieval

___

# Imports para a Aula

In [1]:
import numpy as np
import os
import pandas as pd

___

# Desafio

## Objetivo:

Analisar o dataset gerado no Módulo 3 e responder às questões em cada item.

## Dataset

In [2]:
file_name = os.path.join("data", "desafio", "dataset.csv")

In [3]:
dataset = pd.read_csv(file_name, sep=",", index_col=0, encoding="utf-8")
dataset.head()

C:\Users\allan\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,order_id,user_id,order_dow,department,aisle,product_name
0,1187899,1,4,beverages,soft drinks,Soda
1,1187899,1,4,dairy eggs,packaged cheese,Organic String Cheese
2,1187899,1,4,dairy eggs,yogurt,0% Greek Strained Yogurt
3,1187899,1,4,household,paper goods,XL Pick-A-Size Paper Towel Rolls
4,1187899,1,4,snacks,candy chocolate,Milk Chocolate Almonds

## Itens

### [ Item A ]

Quantos usuários únicos fizeram pedidos?

In [4]:
dataset.user_id.unique().shape[0]

131209

### [ Item B ]

Qual a média e o desvio padrão da quantidade de produtos presentes em um pedido um usuário?

In [5]:
g = dataset.groupby(["user_id", "order_id"])

In [6]:
g.product_name.count().describe().loc[["mean", "std"]]

mean    10.552759
std      7.932847
Name: product_name, dtype: float64

### [ Item C ]

Qual a média, o mínimo e o máximo da quantidade de *corredores (aisles)* por *departmento (department)*?

In [7]:
g = dataset.groupby("department")

In [8]:
g.aisle.count().describe().loc[["min", "max"]]

min      1359.0
max    409087.0
Name: aisle, dtype: float64

### [ Item D ]

Qual o dia da semana em que ocorrem mais pedidos de produtos para cada *departmento (department)*?

In [9]:
g = dataset.groupby(["department", "order_dow"])

In [10]:
tmp = g.product_name.count()

In [11]:
tmp = tmp.reset_index()

In [12]:
tmp = tmp.pivot(columns="order_dow", index="department", values="product_name")

In [13]:
tmp.apply(lambda x: x.argmax(), axis=1)

department
alcohol            5
babies             0
bakery             0
beverages          0
breakfast          0
bulk               0
canned goods       0
dairy eggs         0
deli               0
dry goods pasta    0
frozen             0
household          0
international      0
meat seafood       0
missing            0
other              0
pantry             0
personal care      0
pets               0
produce            0
snacks             0
dtype: int64