# Módulo 3: Leitura e Escrita em Arquivos + Combinando Tabelas

___

# Imports para a Aula

In [1]:
import os
import pandas as pd

___

# Solução do Desafio

## Objetivo:

Construir um **dataset** a partir de tabelas de diferentes formatos contidas em arquivos separados.

## Solução

### Arquivos das Tabelas

#### Download dos Arquivos

* Link: <a href="https://drive.google.com/open?id=0BzHr4OwCpy_haWdqWlBFODVKOHc" target=_blank> https://drive.google.com/open?id=0BzHr4OwCpy_haWdqWlBFODVKOHc </a>

#### Arquivos de Referência

In [2]:
path = os.path.join("data", "desafio")

In [3]:
input_file = {
    "aisles": os.path.join(path, "aisles.csv"),
    "departments": os.path.join(path, "departments.csv"),
    "order_products": os.path.join(path, "order_products.csv"),
    "orders": os.path.join(path, "orders.csv"),
    "products": os.path.join(path, "products.csv")
}

#### Arquivo de Resposta

In [4]:
output_file = os.path.join(path, "dataset.csv")

### Construção do Dataset

Referência: 
* The Instacart Online Grocery Shopping Dataset 2017”, Accessed from https://www.instacart.com/datasets/grocery-shopping-2017 on October 20, 2017.
* Descrição dos Campos: <a href="https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b" target=_blank> https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b </a>

#### Leitura dos Arquivos
* sep = ',' para todos os arquivos
* o nome da variável deverá ser o mesmo do dicionário. Exemplo: 
```
aisles = pd.read_csv(input_file["aisles"])
```
* carregar do aqrquivo apenas as colunas especificadas em cada item

#####  orders
* colunas: 
    * order_id
    * user_id
    * order_dow
* sep: ','

In [5]:
orders = pd.read_csv(
    input_file["orders"], 
    sep=",", 
    usecols=["order_id", "user_id", "order_dow"]
)

##### products
* colunas: 
    * product_id
    * product_name
    * aisle_id
    * department_id
* sep: ','

In [6]:
products = pd.read_csv(
    input_file["products"], 
    sep=",", 
    usecols=["product_id", "product_name", "aisle_id", "department_id"]
)

#####  aisles
* colunas: 
    * aisle_id
    * aisle
* sep: ','

In [7]:
aisles = pd.read_csv(
    input_file["aisles"], 
    sep=",", 
    usecols=["aisle_id", "aisle"]
)

##### department
* colunas: 
    * department_id
    * department
* sep: ','

In [8]:
departments = pd.read_csv(
    input_file["departments"], 
    sep=",", 
    usecols=["department_id", "department"]
)

##### order_products
* colunas:
    * order_id
    * product_id
* sep: ','

In [9]:
order_products = pd.read_csv(
    input_file["order_products"], 
    sep=",", 
    usecols=["order_id", "product_id"]
)

#### Construção do Dataset
* Junte todos os DataFrames usando os métodos apropriados
* O dataset final deve conter apenas as seguintes colunas:
    * order_id
    * user_id
    * order_dow
    * department
    * aisle
    * product_name

In [10]:
""" 'order_products' possui mais order_ids do que 'orders', portanto deve-se usar um 'inner join' """
dataset = pd.merge(
    orders,
    order_products,
    on="order_id",
    how="inner"
)

In [11]:
dataset = pd.merge(
    dataset,
    products,
    on="product_id",
    how="left"
)

In [12]:
dataset = pd.merge(
    dataset,
    departments,
    on="department_id",
    how="left"
)

In [13]:
dataset = pd.merge(
    dataset,
    aisles,
    on="aisle_id",
    how="left"
)

In [14]:
""" Mantendo apenas as colunas desejadas """
dataset = dataset[["order_id", "user_id", "order_dow", "department", "aisle", "product_name"]]

#### Visualização do Dataset

In [15]:
dataset.head(7)

,order_id,user_id,order_dow,department,aisle,product_name
0,1187899,1,4,beverages,soft drinks,Soda
1,1187899,1,4,dairy eggs,packaged cheese,Organic String Cheese
2,1187899,1,4,dairy eggs,yogurt,0% Greek Strained Yogurt
3,1187899,1,4,household,paper goods,XL Pick-A-Size Paper Towel Rolls
4,1187899,1,4,snacks,candy chocolate,Milk Chocolate Almonds
5,1187899,1,4,snacks,nuts seeds dried fruit,Pistachios
6,1187899,1,4,breakfast,cereal,Cinnamon Toast Crunch

In [16]:
dataset.tail(3)

,order_id,user_id,order_dow,department,aisle,product_name
1384614,272231,206209,6,frozen,ice cream ice,Phish Food Frozen Yogurt
1384615,272231,206209,6,bakery,bread,French Baguette Bread
1384616,272231,206209,6,breakfast,cereal,Original Multigrain Spoonfuls Cereal

#### Salvando o Dataset

In [17]:
dataset.to_csv(output_file, sep=",", encoding="utf-8")